<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /skills/
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /skills/index.html [L]
</IfModule>